page-home {
    box-sizing: border-box;
    .my-center{
        text-align: center;
    }
    #buttons-cont{
        text-align: center;
    }
    #playlist{
        .list{
            .element{
                display: flex;
                flex-flow: row wrap;
                justify-content: flex-start;
                line-height: 40px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.2);
                .cover {
                  width: 40px;
                  height: 40px;
                  margin-right: 6px;
                }

                div {
                  padding: 6px 0;
                }
            }
            
        }
    }
    .fancyTitle{
        font-weight: bold;
        font-size: 130%;
        padding: 5px 0;
        display: block;
        width: 100%;
        text-align: center;
    }
    .artistAlbum{
        width: 100%;
        text-align: center;
        color: #fd6d82;
    }
    .progress-bar {
        width: 96%;
        margin: 10px 2%;
        text-align: center;
        background-color: #b1afaf8c;
        color: #fff;
        border-radius: 20px;
        position: relative;
    }
    
    .inner-progress {
        min-width: 1%;
        white-space: nowrap;
        overflow: hidden;
        padding: 1.5px;
        border-radius: 15px;
        background-color: gray;
    }
    .circle{
        background: gray;
        border-radius: 50%;
        position: absolute;
        width: 10px;
        height: 10px;
        top: -3px;
    }
    #volume{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
    }
    
}
