<!--ion-header padding-top padding-left padding-right-->
<ion-content padding>
  <ion-grid id="player" *ngIf="playingSong">
    <audio #audioTag id="song-audio" [src]="config.server_services_url + playingSong.src" preload (timeupdate)="updateProgress(audioTag)" (ended)="forward()"></audio>
    <ion-row class="my-center">
      <img [src]="config.server_services_url + playingSong.cover" alt="" width="100%" height="100%">
    </ion-row>
    <ion-row>
      <div class="progress-bar">
        <div class="inner-progress" [style.width]="currentProgress + '%'"></div>
        <div class="circle" [style.left]="currentProgress + '%'"></div>
      </div>
    </ion-row>
    <ion-row>
      <h2 class="fancyTitle">{{playingSong.title}}</h2>
      <div class="artistAlbum">{{playingSong.artist}}-{{playingSong.album}}</div>
    </ion-row>
    <ion-row id="buttons-cont">
      <ion-col width-33>
        <button ion-button full clear (click)="backward()" color="dark">
          <ion-icon name="skip-backward"></ion-icon>
        </button>
      </ion-col>
      <ion-col width-33>
        <button ion-button full clear (click)="playpause($event)" color="dark">
          <ion-icon [name]="playing ? 'pause' :'play'" class="play-pause"></ion-icon>
        </button>
      </ion-col>
      <ion-col width-33>
        <button ion-button full clear (click)="forward()" color="dark">
          <ion-icon name="skip-forward"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-2>
        <button ion-button icon-only clear (click)="volumeDown()" color="customGray">
          <ion-icon name="volume-down"></ion-icon>
        </button>
      </ion-col>
      <ion-col id="volume" col-8>
        <div class="progress-bar">
          <div id="inner-volume" class="inner-progress" [style.width]="currentVolume + '%'"></div>
          <div id="volume-circle" class="circle" [style.left]="currentVolume + '%'"></div>
        </div>
      </ion-col>
      <ion-col col-2>
        <button ion-button icon-only clear (click)="volumeUp()" color="customGray">
          <ion-icon name="volume-up"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
<!--/ion-header-->


  <div id="playlist">
    <span class="fancyTitle">Up Next</span>
    <div class="list" *ngFor="let song of playlist">
      <div class="element" (click)="playSong(song)">
        <div class="cover">
          <img src="{{config.server_services_url+song.cover}}" alt="">
        </div>
        <div>{{song.title}} - {{song.artist}}</div>
      </div>
    </div>
  </div>

</ion-content>
