<ion-menu [content]="content">
    <ion-header>
        <ion-toolbar>
            <ion-title>
                <p>Holis</p>
            </ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <button menuClose ion-item color="dark" (click)="logout()" full icon-end>
                Cerrar sesión
                <ion-icon name="power"></ion-icon>
            </button>
        </ion-list>
    </ion-content>
</ion-menu>

<ion-nav id="nav" [root]="rootPage" #content></ion-nav>
