<!--
  Generated template for the LibraryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <ion-searchbar right (ionInput)="setQuery($event)" placeholder="Busca canciones"></ion-searchbar>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <ion-item *ngFor="let song of songs">
      <ion-avatar item-left>
        <img [src]="config.server_services_url + song.cover">
      </ion-avatar>
      <h2>{{song.title}}</h2>
      <p>{{song.artist}}-{{song.album}}</p>
      <button ion-button icon-right clear item-right (click)="addToPlaylist(song)">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
</ion-content>
