<!--
  Generated template for the PlaylistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Lista de reproducción</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
      <ion-item-sliding #slideItem *ngFor="let song of songs" (ionDrag)="slideDrag(slideItem)" (touchend)="validateVote(song,slideItem)">
        <ion-item>
            <ion-avatar item-left>
              <img [src]="config.server_services_url + song.cover">
            </ion-avatar>
            <h2>{{song.title}}</h2>
            <p>{{song.artist}}-{{song.album}}</p>
        </ion-item>
        <ion-item-options side="left">
          <button ion-button color="secondary">
            <ion-icon name="thumbs-up"></ion-icon>
          </button>
        </ion-item-options>
        <ion-item-options side="right">
          <button ion-button color="danger">
            <ion-icon name="thumbs-down"></ion-icon>
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
</ion-content>
